<% if @list.errors.any? %>
    <% @list.errors.full_messages.each do |msg|%>
        <p><%= msg %></p>
    <% end %>
<% end %>

<%= form_with model: @list, local: true do |f| %>
    <%= f.label :name, 'Nome' %> 
    <%= f.text_field :name %>

    <%= f.submit 'Criar lista' %>
<% end %>