<% if @recipe.errors.any? %>
<p>Não foi possível salvar a receita</p>
<% end %>


<%= form_with model: recipe, local: true do |f| %>
  <div class="card bg-light py-3 px-4 m-2">
    <div class="form-group row">
      <%= f.label :title, 'Título', {class: 'col-2 col-form-label'} %> 
      <%= f.text_field(:title, {class: 'col-10 form-control'}) %>
    </div>
    <div class="form-group row">
      <%= f.label :recipe_type_id, 'Tipo da Receita', {class: 'col-2 col-form-label'} %>
      <%= f.collection_select :recipe_type_id, @recipe_types, :id, :name, {:include_blank => false},{class: "col-2 custom-select"} %>
    </div>
    <div class="form-group row">
      <%= f.label :cuisine, 'Cozinha', {class: 'col-2 col-form-label'} %>
      <%= f.text_field(:cuisine, {class: 'col-10 form-control'}) %>
    </div>
    <div class="form-group row">
      <%= f.label :difficulty, 'Dificuldade', {class: 'col-2 col-form-label'} %>
      <%= f.text_field(:difficulty, {class: 'col-10 form-control'}) %>
    </div>
    <div class="form-group row">
      <%= f.label :cook_time, 'Tempo de Preparo', {class: 'col-2 col-form-label'} %>
      <%= f.text_field(:cook_time, {class: 'col-10 form-control'}) %>
    </div>
    <div class="form-group row">
      <%= f.label :ingredients, 'Ingredientes', {class: 'col-2 col-form-label'} %>
      <%= f.text_field(:ingredients, {class: 'col-10 form-control'}) %>
    </div>
    <div class="form-group row">
      <%= f.label :cook_method, 'Como Preparar', {class: 'col-2 col-form-label'} %>
      <%= f.text_field(:cook_method, {class: 'col-10 form-control'}) %>
    </div>
    <div class="form-group row">
      <%= f.label :avatar, {class: 'col-2 col-form-label'} %>
      <%= f.file_field(:avatar, {class: 'col-10 form-control'}) %>
    </div>
    <div class="form-group row justify-content-center">
      <%= f.submit 'Enviar', {class: 'btn btn-primary'} %>
    </div>
  </div>
<% end %>