<div class="card m-3 p-4" style="width: 400px">
  <div class="row">
    <div class="col col-4">
        <%= image_tag recipe.avatar, class:"img-thumbnail float-left" if recipe.avatar.attached?%>
    </div>
    <div class="col col-8">
      <h4 class="text-secondary"><%= link_to recipe.title, recipe, class:"text-success" %></h4>
        <p>
          Tipo: <%= recipe.recipe_type.name %>
          Cozinha: <%= recipe.cuisine %>
          Dificuldade: <%= recipe.difficulty %>
          Tempo: <%= "#{recipe.cook_time} minutos"%>
        </p>
    </div>
  </div>
</div>