<h1>CookBook</h1>
<p>Bem-vindo ao maior livro de receitas online</p>
<%= form_with(url: "/search", method: "get", local:true) do %>
    <%= label_tag(:search, "Buscar pelo nome da receita") %>
    <%= text_field_tag(:search) %>
    <%= submit_tag("Buscar") %>
  <% end %>
  <div class='row'>
    <div class="col col-5">
      <h2>Últimas receitas</h2>
      <%= render partial: 'recipe', collection: @recipes %>
    </div>
    <div class="col col-5">
      <h2>Favoritas dos usuários</h2>
    </div>
  </div>
</div>