<% if @item.errors.any? %>
    <% @item.errors.full_messages.each do |msg|%>
        <p><%= msg %></p>
    <% end %>
<% end %>

<h2>Receita cadastrada por <%= @recipe.user.email %></h2>
<h1><%= @recipe.title %></h1>

<h3>Detalhes</h3>
<p><%= @recipe.recipe_type.name %></p>
<p><%= @recipe.cuisine %></p>
<p><%= @recipe.difficulty %></p>
<p><%= @recipe.cook_time_minutes %></p>

<h3>Ingredientes</h3>
<p><%= @recipe.ingredients %></p>

<h3>Como Preparar</h3>
<p><%= @recipe.cook_method %></p>


<% if @recipe.user == current_user%>
    <%= link_to 'Editar', edit_recipe_path(@recipe) %>
<% end %>

<%= form_with local: true, url: add_to_list_recipe_path(@recipe), method: :post do |f| %>
    <%= f.label :list_id, 'Listas' %>
    <%= f.collection_select(:list_id, @lists, :id, :name) %>
    <%= f.submit 'Adicionar a lista'  %>
<% end %>
<%= link_to 'Voltar', root_path %>