<% if @item.errors.any? %>
  <% @item.errors.full_messages.each do |msg|%>
    <p><%= msg %></p>
  <% end %>
<% end %>

<div class="row">
  <div class="col col-4">
    <h3><%= @recipe.title %></h3>
    <p>Enviada por: <%= @recipe.user.email %></p>
    <p>Tipo: <%= @recipe.recipe_type.name %></p>
    <p>Cozinha: <%= @recipe.cuisine %></p>
    <p>Tempo de preparo:<%= @recipe.cook_time_minutes %></p>
    <p>Dificuldade: <%= @recipe.difficulty %></p>
  </div>
  <div class="col col-4">
    <%= image_tag @recipe.avatar, class:"img-thumbnail float-right" if @recipe.avatar.attached? %>
  </div>
</div>
<div class="row">
  <div class="col col-4">
    <h3>Ingredientes</h3>
    <p><%= @recipe.ingredients %></p>
  </div>
  <div class="col col-8">
    <h3>Como Preparar</h3>
    <p><%= @recipe.cook_method %></p>
  </div>
</div>
<hr>
<%= form_with local: true, url: add_to_list_recipe_path(@recipe), method: :post do |f| %>
  <div class="row">
    <div class="col col-3">
      <div class="form-group">
        <h3><%= f.label :list_id, 'Listas de receita' %></h3>
      </div>
    </div>
    <div class="col col-2">
      <div class="form-group">
        <%= f.collection_select(:list_id, @lists, :id, :name, {:include_blank => false}, {class: 'custom-select'})%>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.submit 'Adicionar a lista', class: 'btn btn-success' %>
  </div>
<% end %>
<hr>
<div class="row py-2">
    <div class="col col-4 ">
      <% unless current_user.nil? %>
        <% if @recipe.user == current_user || current_user.admin?%>
            <%= link_to 'Editar', edit_recipe_path(@recipe), class:"btn btn-outline-primary rounded" %>
        <% end %>

        <% if current_user.admin?%>
          <%= link_to 'Apagar', @recipe, method: :delete, class:"btn btn-outline-danger rounded" %>
        <% end %>
      <% end %>
      <%= link_to 'Voltar', root_path, class:"btn btn-outline-dark rounded" %>
    </div>
</div>
