<h1>Cadastrar novos tipos de receita</h1>
<% if @recipe_type.errors.any? %>
    <% @recipe_type.errors.each do |attr, message| %>
        <p><%= message %></p>
    <% end %>
<% end %>

<%= form_with model: @recipe_type, local: true do |f| %>
  <div class="row">
    <div class="col col-4">
      <%= f.label :name, 'Nome', class:'form-label' %> 
      <%= f.text_field :name , class:'form-control'%>
      <%= f.submit 'Enviar' , class:'btn btn-primary my-4'%>
    </div>
  </div>
<% end %>