<!DOCTYPE html>
<html>
  <head>
    <title>Cookbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <nav>
    <% if user_signed_in? %>
      <p><%= link_to 'Enviar uma receita', new_recipe_path %><p>
      <p><%= link_to 'Minhas receitas', my_recipes_path %><p>
      <p><%= link_to "Logout", destroy_user_session_path, method: :delete %></p>
    <% else %>
      <p><%= link_to "Fazer Login", new_user_session_path %></p>
      <p><%= link_to "Criar novo usuário", new_user_registration_path %></p>
    <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
