<!DOCTYPE html>
<html>
  <head>
    <title>Cookbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" />
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="<%=root_path%>">Inicio</a>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item">
              <a class="nav-link" href="<%=new_recipe_type_path%>">Cadastrar tipo de receita</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%=new_recipe_path%>">Enviar uma receita</a>
            </li>
          <% if current_user.lists.any?%>
            <li class="nav-item">
              <a class="nav-link" href="<%=lists_path%>">Minhas listas de receitas</a>
            </li>
          <% else %>
            <li class="nav-item">
              <a class="nav-link" href="<%=new_list_path%>">Criar nova lista</a>
            </li>
          <% end %>
            <li class="nav-item">
              <a class="nav-link" href="<%=my_recipes_path%>">Minhas receitas</a>
            </li>
          <% if current_user.admin? %>
            <li class="nav-item">
              <a class="nav-link" href="<%=evaluate_recipes_path%>">Receitas a serem avaliadas</a>
            </li>
          <% end %>
            <li class="nav-item">
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <a class="nav-link" href="<%=new_user_session_path%>">Fazer Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%=new_user_registration_path%>">Criar novo usuário</a>
            </li>
          <% end %>

        </ul>
      </div>
    </nav>

    <div class='container-fluid'>
      <div class="row">
        <div class="col col-3">
          <h3>Tipo</h3>
            <% @recipe_types_sidebar.each do |types| %>
              <h4><u><%= link_to types.name, types %></u></h4>
            <% end %>
        </div>
      <div class="col col-9">
        <%= yield %>
      </div>
      </div>
    </div>
    <div class="card-footer d-flex sticky-bottom justify-content-center">
      <p>Social Recipes | Copyright 2019</p>
      <div class="icons">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
      </div>
    </div>
  </body>
</html>